/**
 * @Files
 * destination Section Style.
*/

.destinations {
  @include relative;
  background-color: $secondary-color;
}
.destinations-slider {
  &__card {
    @include relative;
    margin: 0 10px;
    &:hover {
      .destinations-slider__content {
        bottom: 26px;
      }

      img {
        opacity: 0.7;
      }
    }
    img {
      max-width: 100%;
      width: 100%;
      transition: all liner 400ms;
    }
  }
  &__content {
    @include absolute;
    bottom: calc(-100% + 100px);
    transition: bottom linear 400ms;
    padding: 20px;
    &--title {
      line-height: 33px;
    }

    &--description {
      @include md {
        font-size: rem(20);
        line-height: 28px;
      }
    }
    .btn {
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 1);
      padding: 10px 20px;
      border-radius: 8px;
      @include md {
        padding: 16px 40px;
      }
    }
  }
}
